login.json
.idea

# Ignore input files and task descriptions as per Eric's request (https://adventofcode.com/about#faq_copying)
# and all files other than solution.py
/*/*/*
!/*/*/solution.py

# Ignore unsolved years
/2015
/2016
/2017
/2018
/2019
/2020
